.header {
  display: flex;
  align-items: center;
}

.header-button {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.header-title {
  margin-left: 10px;
  font-size: larger;
  text-align: center;
  text-decoration: underline;
}