.card {
  padding: 0 15px;
  border: 1px solid;
  border-radius: 9px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: larger;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

.date-range {
  margin-top: 0;
  font-size: large;
}

.card-body {
  display: flex;
}