.image-carousel {
  height: 100%;
}

.pictures {
  display: flex;
  height: 100%;
  align-items: center;
}

.cover-image {
  width: 250px;
  height: 250px;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
}

.control-button {
  border: none;
}

.control-arrow {
  border: 1px solid;
  padding: 3px;
  border-radius: 50%;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;

}

.progress {
  margin: 0;
  padding: 5px;
}